#工具链
TOOL_CHAIN =

#后缀，cygwin下用.exe
PROJECT_SUFFIX =

#install dir
PROJECT_INSTALL_DIR = /tftpboot

PROJECT_LIB_PATHS = ../src/code/lib
PROJECT_LIBS = pthread m dl wx_x86 sms4_x86_1.0 ssl_x86 crypto_x86 crypt

PROJECT_CC_OPTION = -O0 -g3 -Wall -c -fmessage-length=0 -m32
PROJECT_LD_OPTION = -m32
PROJECT_LD_PARTIAL_OPTION = -m32

#工程中需要包含的子系统
#PROJECT_SUBSYSTEMS_EXCLUDE += 
#PROJECT_SUBSYSTEMS = $(notdir $(filter-out $(addprefix ${PROJECT_SRC_PATH}/,$(PROJECT_SUBSYSTEMS_EXCLUDE)),$(wildcard ${PROJECT_SRC_PATH}/*)))
#PROJECT_SUBSYSTEMS += cps cpm om public upm
PROJECT_SUBSYSTEMS += cps public mt_proc ap_proc sta_proc

#make使用的工具定义
TOOL_CC = ${TOOL_CHAIN}gcc
TOOL_LD = ${TOOL_CHAIN}gcc
TOOL_NM = ${TOOL_CHAIN}nm
TOOL_STRIP = ${TOOL_CHAIN}strip
TOOL_LD_PARTIAL_FLAG = -r -nostdlib
TOOL_LD_PARTIAL = ${TOOL_LD} ${TOOL_LD_PARTIAL_FLAG}
TOOL_RM = -rm -rf
TOOL_CP = cp -rf
TOOL_ECHO = echo
TOOL_MKDIR = mkdir -p

#宏定义：和代码中的宏定义相同
#SWP_ABS_FUNBRD_TYPE = SWP_ABS_FUNBRD_C_MAIN
SWP_OPTION_NO_RDBS = FALSE
SWP_NE_TYPE = SWP_NETYPE_RNC
SWP_PHYBRD_TYPE = SWP_PHYBRD_MMPA_OEM
#SWP_PHYBRD_CHILDBRD_TYPE = SWP_PHYBRD_NO
#SWP_PHYBRD_BACKBRD_TYPE = SWP_PHYBRD_NO
SWP_PHYBRD_VER = 0x501
SWP_PHYBRD_CHILDBRD_VER = 0
SWP_PHYBRD_BACKBRD_VER = 0
SWP_FUNBRD_TYPE = SWP_FUNBRD_GCPA
SWP_CPUROLE_TYPE = SWP_CPUROLE_HOST
SWP_OS_TYPE = SWP_OS_LINUX
SWP_CPU_TYPE = SWP_CPU_LITTLE
SWP_IP_HIGH8 = 90

#工程全局的宏定义开关
PROJECT_MACROS += SWP_NE_TYPE=${SWP_NE_TYPE}
PROJECT_MACROS += SWP_PHYBRD_TYPE=${SWP_PHYBRD_TYPE}
PROJECT_MACROS += SWP_PHYBRD_CHILDBRD_TYPE=${SWP_PHYBRD_CHILDBRD_TYPE}
PROJECT_MACROS += SWP_PHYBRD_BACKBRD_TYPE=${SWP_PHYBRD_BACKBRD_TYPE}
PROJECT_MACROS += SWP_PHYBRD_VER=${SWP_PHYBRD_VER}
PROJECT_MACROS += SWP_PHYBRD_BACKBRD_VER=${SWP_PHYBRD_BACKBRD_VER}
PROJECT_MACROS += SWP_FUNBRD_TYPE=${SWP_FUNBRD_TYPE}
PROJECT_MACROS += SWP_CPUROLE_TYPE=${SWP_CPUROLE_TYPE}
PROJECT_MACROS += SWP_OS_TYPE=${SWP_OS_TYPE}
PROJECT_MACROS += SWP_CPU_TYPE=${SWP_CPU_TYPE}
PROJECT_MACROS += SWP_ABS_FUNBRD_TYPE=${SWP_ABS_FUNBRD_TYPE}
PROJECT_MACROS += SWP_OPTION_NO_RDBS=${SWP_OPTION_NO_RDBS}
PROJECT_MACROS += SWP_LINUX
PROJECT_MACROS += SWP_IP_HIGH8=${SWP_IP_HIGH8}

#PROJECT_MACROS += INTERNAL_AES
#PROJECT_MACROS += CONFIG_IAPP
#PROJECT_MACROS += EAP_TLS_NONE
#PROJECT_MACROS += INTERNAL_MD5
#PROJECT_MACROS += INTERNAL_SHA1
#PROJECT_MACROS += EAP_SERVER
#PROJECT_MACROS += CW_DEBUGGING
#PROJECT_MACROS += OPENSSL_NO_TLSEXT
#PROJECT_MACROS += CW_NO_DTLS
#PROJECT_MACROS += CW_WITH_BARS
#PROJECT_MACROS += CW_WITH_OM
#PROJECT_MACROS += CW_WITH_UPM

PROJECT_MACROS += CHINESE
PROJECT_MACROS += UNIX
